<html>
    <head>
        <title>To-Do lists</title>
    </head>
    <body>
        <h1>Add a quote</h1>
        <form method="POST", action="""">
        {% csrf_token %}
        Quote:<br>
            <input name="quote" id="quote" placeholder="Enter a quote" required><br>
        Name:<br>
            <input list="names" name="name" required>
            <datalist id="names" placeholder="Name">
            {% for person in view.people %}
                <option value="{{ person.name }}">
            {% endfor %}
            </datalist>
        <br><br>
        <input type="submit">
        </form>
        <ul>
        {% for quote in quote_list %}
            <li>{{ quote }}</li>
        {% endfor %}
        </ul>
    </body>
</html>